In [5]:
#Import dependencies
import pandas as pd
import gmaps
import requests
#Import the API key
from config import g_key

In [6]:
# Store the CSV you saved created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Linhares,-19.3911,-40.0722,72.55,89,100,3.11,BR,2021-04-04 00:20:19
1,1,Sulangan,11.1373,123.7228,81.30,74,84,10.92,PH,2021-04-04 00:21:09
2,2,Longyearbyen,78.2186,15.6401,21.20,63,75,11.50,SJ,2021-04-04 00:21:09
3,3,Bathsheba,13.2167,-59.5167,78.80,61,40,21.85,BB,2021-04-04 00:21:09
4,4,Punta Arenas,-53.1500,-70.9167,37.40,81,20,5.75,CL,2021-04-04 00:21:09

In [9]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [24]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating = False, max_intensity = 300, point_radius=4.0)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights= city_data_df["Humidity"], dissipating = False, max_intensity = 300, point_radius=4.0)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights= city_data_df["Cloudiness"], dissipating = False, max_intensity = 300, point_radius=4.0)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights= city_data_df["Wind Speed"], dissipating = False, max_intensity = 300, point_radius=4.0)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 100

In [15]:
preferred_city = city_data_df.loc[(city_data_df["Max Temp"]<=max_temp) & (city_data_df["Max Temp"]>=min_temp)] 
preferred_city.count()

City_ID       422
City          422
Lat           422
Lng           422
Max Temp      422
Humidity      422
Cloudiness    422
Wind Speed    422
Country       417
Date          422
dtype: int64

In [16]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = preferred_city[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights= preferred_city["Max Temp"], dissipating = False, max_intensity = 300, point_radius=4.0)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
hotel_df = preferred_city[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"]=""
hotel_df.head(10)

           City Country  Max Temp      Lat       Lng Hotel Name
0      Linhares      BR     72.55 -19.3911  -40.0722
1      Sulangan      PH     81.30  11.1373  123.7228
3     Bathsheba      BB     78.80  13.2167  -59.5167
5   San Quintin      MX     64.26  30.4833 -115.9500
6    Port Keats      AU     79.02 -14.2500  129.5500
7      Katsuura      JP     68.00  35.1333  140.3000
10        Vaini      TO     77.00 -21.2000 -175.2000
12     Acajutla      SV     82.40  13.5928  -89.8275
13      Rikitea      PF     77.32 -23.1203 -134.9692
16         Hilo      US     77.00  19.7297 -155.0900

In [18]:
#Set parameters tio search for a hotel
params = {
            "radius":5000,
            "Type":"lodging",
            "key":g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][1]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Linhares,BR,72.55,-19.3911,-40.0722,Hotel Conceição
1,Sulangan,PH,81.30,11.1373,123.7228,Maia's Beach Resort
3,Bathsheba,BB,78.80,13.2167,-59.5167,Atlantis Hotel
5,San Quintin,MX,64.26,30.4833,-115.9500,Pemex
6,Port Keats,AU,79.02,-14.2500,129.5500,Australia Post
...,...,...,...,...,...,...
560,Dubbo,AU,71.60,-32.2500,148.6167,Comfort Inn Blue Lagoon
562,Yima,CN,45.93,34.7381,111.8839,Labor Mansion
564,Loa Janan,ID,75.94,-0.5830,117.0950,Palaran Stadium
565,Hampton,US,50.00,37.0299,-76.3452,Embassy Suites by Hilton Hampton Convention Ce...
566,Pelaya,CO,78.76,8.6882,-73.6645,Banco Agrario

In [27]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = hotel_df[["Lat", "Lng"]]
# 2. Assign the weights variable to some values.
max_temp = hotel_df["Max Temp"]
#temperatures = # an array of length equal to the locations array length
# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=[max(temp,0) for temp in max_temp], dissipating = False, max_intensity = 300, point_radius=4.0)
marker_layer = gmaps.marker_layer(locations)
# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
fig.add_layer(marker_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [30]:

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))