## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("/Users/mdabbous/Desktop/ClassFolder/Module6/World_Weather_Analysis/Vacation_Itinerary/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Bambous Virieux,MU,75.99,scattered clouds,-20.3428,57.7575,Casa Tia Villa
1,1,Totness,SR,75.70,overcast clouds,5.8833,-56.3167,STAATS LOGEERGEBOUW TOTNESS
2,5,Mazabuka,ZM,60.58,clear sky,-15.8560,27.7480,Darcyn Gardens and Apartments
3,6,Mataura,NZ,60.01,overcast clouds,-46.1927,168.8643,Ellie's Villa
4,7,Antalaha,MG,78.40,broken clouds,-14.9003,50.2788,Hotel Vitasoa

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Nme</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"]=="San Antonio") & (vacation_df["Country"] == "US")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "San Antonio") & (vacation_df["Country"] == "US")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "San Patricio") & (vacation_df["Country"] == "US")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Iberia") & (vacation_df["Country"] == "US")]
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Natchitoches") & (vacation_df["Country"] == "US")]
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
374,619,Natchitoches,US,62.6,scattered clouds,31.7668,-93.1335,Super 8 by Wyndham Natchitoches

In [27]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start.to_numpy()[0][5],vacation_start.to_numpy()[0][6]
end =  vacation_end.to_numpy()[0][5],vacation_end.to_numpy()[0][6]
stop1 = vacation_stop1.to_numpy()[0][5],vacation_stop1.to_numpy()[0][6]
stop2 = vacation_stop2.to_numpy()[0][5],vacation_stop2.to_numpy()[0][6]
stop3 = vacation_stop3.to_numpy()[0][5],vacation_stop3.to_numpy()[0][6]
stop1

(28.017, -97.5169)

In [32]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
directionlayer = gmaps.directions_layer(start, end, waypoints=[stop1, stop2, stop3],travel_mode='BICYCLING')
fig.add_layer(directionlayer)
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
dataframes = [vacation_start, vacation_stop1, vacation_stop2, vacation_stop3]
itinerary_df = pd.concat(dataframes,ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,401,San Antonio,US,79.00,clear sky,29.4241,-98.4936,Drury Plaza Hotel San Antonio Riverwalk
1,148,San Patricio,US,73.99,mist,28.0170,-97.5169,"Motel 6 Sinton, TX"
2,319,Iberia,US,75.20,overcast clouds,29.9502,-91.7507,back to back rv park
3,619,Natchitoches,US,62.60,scattered clouds,31.7668,-93.1335,Super 8 by Wyndham Natchitoches

In [47]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [48]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0,-95.0), zoom_level=5.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))